# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Stuff from the previous build
*.DS_Store
*.plist
*.xcodeproj
*.xcconfig
*.app
*.make
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj*