    .thumbnail {
		position: relative;
		background-color: blue;
		background: url(chris.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	}

	.thumbnail.smallSquare {
		width: 200px;
		height: 200px;
		font-size: 12pt;
	}

	.thumbnail.mediumSquare {
		width: 400px;
		height: 400px;
		font-size: 18pt;
	}

	.thumbnail.mediumWide {
		width: 500px;
		height: 200px;
		font-size: 12pt;
	}

	.thumbnail .title {
		position: absolute;
		box-sizing: border-box;
		bottom: 0px;
		height: 30%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		color: #FFF;
		padding: 3%;
		overflow: hidden;
	}